.body{
  background-color:#23272A;
}
#mainNav{
  position:absolute;
  
  z-index:10;
  background:rgba(255,255,255,0);
  width:100%;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item .nav-link {
  
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav li{
  margin-left : 1em;
  margin-right : 1em;

}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(35, 39, 42, 0.2) 0%, rgba(35, 39, 42, 0.2) 100%), url("../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 50vh;
}
header.masthead h2 {
  font-size: 2rem;
  padding-bottom:2rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 50vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1rem;
  }
  header.masthead h2 {
    font-size: 2rem;
    padding-bottom:2rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h2 {
    font-size: 3rem;
  }
}
.btn-primary {
  color: #fff;
  background-color: #FF5A5F;
  border-color: #FF5A5F;
}
.btn-primary:hover {
  color: #fff;
  background-color:#cc484c;
  border-color: #cc484c;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color:#cc484c;
  border-color: #cc484c;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color:#cc484c;
  border-color: #cc484c;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color:#cc484c;
  border-color: #cc484c;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  
}

.aboutimg {
    width:50%;
    padding-bottom:2rem;
}
.travelform {
    background-color:#FFF;
    padding:3rem;
    border-radius: 15px;
    opacity: 95%;
}
.form-row {
    padding-bottom: 1rem;
}
.page-section {
  background-color: #fff;
  padding: 8rem 0;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

#mainFooter{
  color: white;
  background-color: #FF5A5F;
}
